<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quanlithuvientruongdaihoc.Properties.Settings.QLTVsoftwareConnectionString"
            connectionString="Data Source=LAPTOP-S8PUTIHQ;Initial Catalog=QLTVsoftware;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>